.App {
  background-color: #e6eeff;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  background-color: #3377ff;
  justify-content: space-between;
}

.h1__heading {
  padding: 10px 0px 10px 10px;
  margin:0;
  display: inline-block;
}

.horizontal-links{
  display: inline-flex;
  gap: 20px;
  list-style-type: none;  
  margin-right: 5%;
}
